{% extends "layout.jinja2" %}

{% block content %}
<main>
    <section id="about-banner">
        <img src="{{ request.static_path('jhodge_public:static/MEDIA/jhodge_about.jpg') }}" />
    </section>
    <section id="content">
        <div class="big-content black">
            <h1>Jamal J. Hodge</h1>
            <div class="horizontal-bar white"></div>
            <p class="about-external">
                Check more about me at <a href="https://iam.film/next/">iam.film/next</a>
            </p>

            <article>
                <div class="half-width">
                    <p>Emerging from New York's inner-city, in 1999 Jamal Hodge burst onto the independent film scene with his first film, "An African-American in Russia". This exploratory documentary earned numerous awards, introducing Hodge to the film circuit as a daring and insightful artist.</p>
                    <p>As a young filmmaker, Hodge's works have been featured in the renowned Sundance Film Festival, Tribeca Film Festival, and the San Francisico International Film Festival. Hodge has worked on the Emmy Award-winning documentary "Bullets in the HOod" as a cinematographer, and on Discovery Channel's Dupont Award-winning series "Off To War" as an assistant editor.</p>
                    <p>Jamal has been recognized with a citation award from the Hauge Appeal for Peace for his brilliant directorial work in "The Zapatista Dream 5 Years Later." He has received various other accolades and awards including a Gold Spire Award from the San Francisco International Film Festival and the Alumnus Award from Tribeca/Urban Visionaries.</p>
                    <p>Not one to shy away from the organic pull of the New York City Theater, Jamal Hodge has worked as an assistant director on the off-Broadway play, Prayers for the Ghetto, and as a casting agent for Clifton King and Michael Horne for the sketch comedy show "Something Outrageous". Recently Hodge has performed as an actor opposite theatre legend Patrik Baldauff in the short film "Patrik" (2016) and in the Feature film Wild Men (2016) as the film's main antagonist.</p>
                </div>
                <div class="half-width">
                    <p>Jamal Hodge's first Narrative feature film as a director, "Threading Needles", a gritty drama that explores the current state of American racism, the bonds of family and the fragile but unbreakable bonds of love, was one of two runner-ups at the Hollywood Black Film Festival's 2011 feature film competition.</p>
                    <p>Hodge is currently in Post-production on a slew of projects, such as "Modern Grace", a faith based Documentary-series and "The Last Doctor" a medical series that highlights the current state of health culture through the eyes of a 77 year old Jewish-Italian Knight. He will release 3 narrative films in 2016 "The Jump" (an inspirational drama), "Knockout Game" (an urban thriller), and "The Kind Ones" (a horror film) which has recently become a selection in the 2016 Cannes Film festival's short film Corner.</p>
                    <p>Having worked in the commercial world for companies such as Black Berry and Teachscape, Hodge has directed the corporate videos for the Harlem Children's Zone's Healthy Harlem Initiative from 2012-2015. An avid believer in education and an advocate for "paying it forward", Hodge has also taught filmmaking to literally hundreds of kids from various walks of life, at the Japan Society, Keio Academy, Big Brothers-Big Sisters, The Pro-Tv Program, TRUCE, The COVE, and Mythic Bridge.</p>
                    <p>Despite his humble beginnings, Hodge has risen to become one of film's most promising and dynamic new visionaries. His history of mentoring youth in underprivileged communities speaks to his depth of character and his work abroad sheds light on his ability to cross barriers and explore issues that have long remained undiscovered. As a director, writer, and producer, Jamal Hodge has only just begun to carve out his name into film history.</p>
                </div>
            </article>
        </div>
    </section>
</main>
{% endblock content %}
