{% extends "layout.jinja2" %}

{% block content %}
<main>
    <section id="top-banner">
        <div id="slider-content">
            <ul id="slides">
                {% for film in slider_films %}
                    {% if loop.first %}
                        <li class="show">
                    {% else %}
                        <li>
                    {% endif %}
                    <img src="{{ film.screenshot_url }}" />
                    <div class="slider-description">
                        <h2>{{ film.title }}</h2>
                        <div class="horizontal-bar white"></div>
                        <p>
                            {{ film.slider_text | safe }}
                        </p>
                        <button class="red-btn">
                            <a href="{{ request.route_url('film_single', id=film.id) }}">More</a>
                        </button>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div id="slider-control">
                <ul>
                </ul>
            </div>
        </div>
    </section>
    <section id="content">
        {% for film in all_films %}
        <div class="row film">
            <div class="film-still">
                <a href="{{ request.route_url('film_single', id=film.id) }}">
                    <img src="{{ film.screenshot_url }}" />
                    {# <div class="video-btn">
                        <img src="{{ request.static_path('jhodge_public:static/STATIC_FILES/video-play-button.png') }}" />
                    </div> #}
                </a>
            </div>
            <a href="{{ request.route_url('film_single', id=film.id) }}">
                <div class="film-list-description">
                    <h2>{{ film.title }}</h2>
                    <div class="horizontal-bar white"></div>
                    <div class="media-meta full">
                        <ul>
                            <li>{{ film.production }}</li>
                        </ul>
                    </div>
                    <div class="film-excerpt">
                        <p>
                            {{ film.excerpt | safe }}
                        </p>
                        <button type="button" class="red-btn">More</button>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}

{% block specific_scripts%}
<script src="{{ request.static_path('jhodge_public:static/js/slider.js') }}"></script>
{% endblock specific_scripts %}
