{% extends "layout.jinja2" %}

{% block content %}
<main>
    <section id="splash">
        <img src="{{ request.static_path('jhodge_public:static/MEDIA/jhodge1.jpg') }}" />
        <div id="splash-content">
            <div id="splash-content-inner">
                <h1>Jamal J. Hodge</h1>
                <div class="horizontal-bar white"></div>
                <ul>
                    <li>Director</li>
                    <li>Writer</li>
                    <li>Producer</li>
                    <li>omegahodge [at] gmail.com</li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

