<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ request.static_path('jhodge_public:static/css/reset.css') }}" type="text/css" />
        <script src="https://use.fontawesome.com/4d0cb8d848.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <link rel="stylesheet" href="{{ request.static_path('jhodge_public:static/css/style.css')}}" type="text/css" />
        {% if home %}
            <title>Jamal Hodge | Home</title>
        {% elif film %}
            <title>Jamal Hodge | Film</title>
        {% elif about %}
            <title>Jamal Hodge | About</title>
        {% elif writing %}
            <title>Jamal Hodge | Writing</title>
        {% elif contact %}
            <title>Jamal Hodge | Contact</title>
        {% else %}
            <title>Jamal Hodge</title>            
        {% endif %}
    </head>
    <body>
        <nav class="sticky-menu">
            <ul id="top-menu">
            {% if home %}
                <a href="{{ request.route_url('home') }}"><li class="active">Home</li></a>
            {% else %}
                <a href="{{ request.route_url('home') }}"><li>Home</li></a>
            {% endif %}

            {% if film %}
                <a href="{{ request.route_url('films') }}"><li class="active">Film</li></a>
            {% else %}
                <a href="{{ request.route_url('films') }}"><li>Film</li></a>
            {% endif %}

            {% if about %}
                <a href="{{ request.route_url('about') }}"><li class="active">About</li></a>
            {% else %}
                <a href="{{ request.route_url('about') }}"><li>About</li></a>
            {% endif %}
            </ul>
            
<!--             {% if writing %}
                <a href="{{ request.route_url('writings') }}"><li class="active">Writing</li></a>
            {% else %}
                <a href="{{ request.route_url('writings') }}"><li>Writing</li></a>
            {% endif %} -->

<!--             {% if contact %}
                <a href="{{ request.route_url('contact') }}"><li class="active">Contact</li></a>
            {% else %}
                <a href="{{ request.route_url('contact') }}"><li>Contact</li></a>
            {% endif %} -->

            <ul id="social-media">
                <li>
                    <a href="https://www.facebook.com/Primal-Links-Media-151766004494/">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/directorhodge">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/directorh/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.imdb.com/name/nm0388071/">
                        <img src="{{ request.static_path('jhodge_public:static/STATIC_FILES/imdb-bw.png') }}" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jamal-hodge-891055b">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </nav>
        {% block content%}{% endblock content%}
        <footer>
            <p id="copyright">Copyright 2016 &copy; Jamal Hodge, jamalhodge.com</p>
        </footer>
        {% block specific_scripts %}{% endblock specific_scripts %}
    </body>
</html>