{% extends "layout.jinja2" %}

{% block content %}
<main>
    <section id="content">
        {% for writing in all_writings %}
        <div class="item-writing">
            <div class="writing-thumb">
                <img src="{{ writing.cover_url }}" />
                <div class="writing-hover">
                    <a href="{{ request.route_url('writing_single', id=writing.id) }}">
                        Read
                    </a>
                </div>
            </div>
            <a href="{{ request.route_url('writing_single', id=writing.id) }}">
                <div class="writing-item-description">
                    <h2>{{ writing.title }}</h2>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}
{% block specific_scripts %}
<script src="{{ request.static_path('jhodge_public:static/js/writing_effects.js') }}"></script>
{% endblock specific_scripts %}