{% extends "layout.jinja2" %}

{% block content %}
<main>
    <section id="content">
        {% for writing in all_writings %}
        <div class="item-writing">
            <div class="item-writing-inner">
                <p>{{ writing.title }}</p>
                <p class="link-out">
                    <a href="#">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
        {% if loop.first %}
        <div class="writing-text selected">
        {% else %}
        <div class="writing-text">
        {% endif %}
            <div class="writing-text-container">
                {{ writing.full_text|safe }}
            </div>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}
{% block specific_scripts %}
<script src="{{ request.static_path('jhodge_public:static/js/writing_effects.js') }}"></script>
{% endblock specific_scripts %}