{% extends "layout.jinja2" %}

{% block content %}
<main>
    <section id="single-writing" class="split-content">
        <aside class="fixed">
            <div class="aside-img">
                <img src="{{ the_writing.cover_url }}" />
            </div>
            <h1>{{ the_writing.title }}</h1>
            <div class="media-meta full">
                {# <ul>
                    <li>May 30, 2016</li>
                    <li>Some Publisher</li>
                </ul> #}
            </div>
            <a href="{{ the_writing.external_link }}">
                <div type="button" class="clear-btn">
                    See More
                </div>
            </a>
        </aside>
        <article class="space-filler"></article>
        <article class="writing-excerpt">
            {% if the_writing.center %}
                <h2 class="center-text">{{ the_writing.title }}</h2>
                <div class="horizontal-bar white center-bar"></div>
            {% else %}
                <h2>Excerpt from {{ the_writing.title }}</h2>
                <div class="horizontal-bar white"></div>
            {% endif %}

            {% for paragraph in full_text %}
                {% if the_writing.center %}
                    <p class="center-text">
                        {% for line in paragraph %}
                            {{ line }}<br/>
                        {% endfor %}
                    </p>
                {% else%}
                    <p>{{ paragraph|safe }}</p>
                {% endif %}
            {% endfor %}

        </article>
    </section>
</main>
{% endblock content %}